<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ExceptionTableEntityMapper">
  <resultMap id="BaseResultMap" type="com.act.monitor.entity.ExceptionTableEntity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="type" jdbcType="VARCHAR" property="type" />
    <id column="host" jdbcType="VARCHAR" property="host" />
    <id column="childclass" jdbcType="INTEGER" property="childclass" />
    <result column="instance" jdbcType="VARCHAR" property="instance" />
    <result column="parameter" jdbcType="VARCHAR" property="parameter" />
    <result column="warningclass" jdbcType="VARCHAR" property="warningclass" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="parentclass" jdbcType="INTEGER" property="parentclass" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="max" jdbcType="VARCHAR" property="max" />
    <result column="min" jdbcType="VARCHAR" property="min" />
    <result column="occurtime" jdbcType="VARCHAR" property="occurtime" />
    <result column="alarmid" jdbcType="VARCHAR" property="alarmid" />
    <result column="appsystem" jdbcType="VARCHAR" property="appsystem" />
    <result column="alarmtitle" jdbcType="VARCHAR" property="alarmtitle" />
    <result column="attachments" jdbcType="VARCHAR" property="attachments" />
  </resultMap>
</mapper>