<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TabInstructionsInfoEntityMapper">
  <resultMap id="BaseResultMap" type="com.act.monitor.entity.TabInstructionsInfoEntity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="instructionid" jdbcType="INTEGER" property="instructionid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
  </resultMap>
</mapper>