<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TabMenuRoleEntityMapper">
  <resultMap id="BaseResultMap" type="com.act.monitor.entity.TabMenuRoleEntity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="menu_name_ch" jdbcType="VARCHAR" property="menuNameCh" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="show_seq" jdbcType="TINYINT" property="showSeq" />
    <result column="is_active" jdbcType="CHAR" property="isActive" />
  </resultMap>
</mapper>