<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TabSecondaryMenuEntityMapper">
  <resultMap id="BaseResultMap" type="com.act.monitor.entity.TabSecondaryMenuEntity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="sec_menu_id" jdbcType="INTEGER" property="secMenuId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="program_id" jdbcType="VARCHAR" property="programId" />
    <result column="purview_list" jdbcType="VARCHAR" property="purviewList" />
  </resultMap>
</mapper>